/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

.card{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: slateblue;
    color: #FFF;
    padding: 40px 20px;
    /* height: 500px; */
}

.block{
    background-color: teal;
    color: white;
    /* display: block; */
    padding: 30px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.inline{
    display: inline-block;
    background-color: crimson;
    color: white;
}

.title{
    /* line-height: 500px; */
    text-align: center;
    /* margin: 70px;
    color: hotpink;
    color: rgb(255, 105, 180, 0.5);
    color: #E05BD5;
    color: hsl(200, 100%, 30%, 0.5); */
    overflow-wrap: break-word;
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    line-height: 100px;
    border: 1px solid #FFF;
}

.paragraph{
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
}

.paragraph--first{
    text-transform: lowercase;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 300;
    font-style: italic;
}